@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


body {
    margin: 0;
    font-family: 'Poppins';
    z-index: -10;
}

.background {
    position:absolute;
    top: 88px;
    left: 0;
    width: 100vw;
    background-color: #F5F1ED;
    height: 757px;
    z-index: -5;
}

main {
    max-width: 1440px;
    margin: auto;
    padding-left: 48px;
    padding-right: 48px;
}

.white {
    color: #ffffff;
}

.hidden-web {
    display: none;
}


/* NAV BAR */

.nav {
    height: 88px;
    width: 100%;
    background-color: #ffffff;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.nav > .nav-logo {
    display: inline-block;
}

.logo {
    width: 154.09px;
    height: 34.21px;
}

.nav-btn {
    display: none;
}

.nav-links {
    display: inline;

}

.nav-links > a {
    display: inline-block;
    padding: 12px 8px 12px 8px;
    text-decoration: none;
    color: #79716B;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.nav-links a:hover {
    color: #1C1917 ;
}

.nav-links a:first-child{
    color: #1C1917;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.nav-links a:last-child{
    display: none;
}

.nav-cta {
    width: 136px;
    height: 48px;

    background-color: #1C1917;
    border-radius: 12px;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav-cta:hover {
    background-color: #79716B;
}

.nav-cta p {
    padding: 18px 24px 18px 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
}

@media (max-width:600px) {

    main {
        padding-left: 12px;
        padding-right: 12px;
    }

    .nav-links, .nav-cta {
        display: none;
    }


}



/* HEADER */

.header-section {
    display: flex;
    flex-direction: row;
    background-color: #FFC671;
    border-radius: 48px;
    margin-top: 30px;

}

.header-text-wrapper {
    background-color: #ffffff;
    border-radius: 48px;
    width: 48%;
    padding: 92px 88px 92px 88px;
}

.header-text h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #A9A29D;
    margin: 0;
}

.header-text h2 span {
    color: #1C1917;
    font-weight: 500;
}

.header-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%; /* or 28px */
    letter-spacing: -0.01em;
    color: #57534E;
    max-width: 360px;
    margin: 0;
    padding-top: 12px;
}

.header-product-images {
    width: 669px;
}

.button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding-top: 40px;

}

.btn-prim {
    background-color: #FDAE37;;
    border-radius: 12px;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    color: #1C1917;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.btn-sec {
    background-color: #F3F3F3;;
    border-radius: 12px;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    color: #1C1917;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

